function Block.new 3
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 156
pop local 0
push constant 6
pop local 1
push constant 30
pop local 2
push local 0
call Array.new 1
pop this 1
push local 0
call Array.new 1
pop this 2
push local 2
call Array.new 1
pop this 4
push local 2
call Array.new 1
pop this 5
push local 2
call Array.new 1
pop this 7
push local 2
call Array.new 1
pop this 6
push local 1
call Array.new 1
pop this 3
push local 0
call Array.new 1
pop this 0
push constant 0
push this 3
add
push constant 1440
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 1472
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 1664
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 2176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 2208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 2368
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 4
add
push constant 352
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 5
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 432
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 496
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 4
add
push constant 576
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 4
add
push constant 592
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 4
add
push constant 720
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 5
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 4
add
push constant 736
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 5
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 4
add
push constant 832
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 4
add
push constant 912
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 4
add
push constant 928
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 4
add
push constant 1008
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 4
add
push constant 1024
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 4
add
push constant 1040
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 4
add
push constant 1312
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 4
add
push constant 1328
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 4
add
push constant 1344
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 4
add
push constant 1760
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 4
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 5
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 4
add
push constant 1808
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 5
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 4
add
push constant 1840
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 4
add
push constant 1968
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 5
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 4
add
push constant 1984
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 5
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 4
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 5
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 4
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 5
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 4
add
push constant 2336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 4
add
push constant 2480
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 4
add
push constant 2496
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 5
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 4
add
push constant 2512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 5
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 4
add
push constant 2768
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 5
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 4
add
push constant 2784
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 5
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push constant 240
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 272
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 320
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 352
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 352
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 1
add
push constant 352
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 1
add
push constant 368
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 1
add
push constant 368
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 1
add
push constant 368
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 1
add
push constant 368
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 2
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 1
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 1
add
push constant 448
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 1
add
push constant 464
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 1
add
push constant 480
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 1
add
push constant 496
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 1
add
push constant 528
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 1
add
push constant 528
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 1
add
push constant 528
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 1
add
push constant 592
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 1
add
push constant 640
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 1
add
push constant 656
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 1
add
push constant 720
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 1
add
push constant 720
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 1
add
push constant 720
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 1
add
push constant 720
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 1
add
push constant 736
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 1
add
push constant 736
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 1
add
push constant 736
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 1
add
push constant 736
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 1
add
push constant 832
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 1
add
push constant 832
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 1
add
push constant 848
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 1
add
push constant 848
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 1
add
push constant 864
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 1
add
push constant 864
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 1
add
push constant 880
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 1
add
push constant 880
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 1
add
push constant 896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 1
add
push constant 896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 1
add
push constant 1072
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 1
add
push constant 1088
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 1
add
push constant 1104
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 1
add
push constant 1120
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 1
add
push constant 1136
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 1
add
push constant 1168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 1
add
push constant 1168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 1
add
push constant 1168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 1
add
push constant 1168
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 1
add
push constant 1184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 1
add
push constant 1184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 1
add
push constant 1184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 1
add
push constant 1184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 1
add
push constant 1248
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 1
add
push constant 1264
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 1
add
push constant 1280
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 1
add
push constant 1280
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 1
add
push constant 1296
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 1
add
push constant 1296
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 1
add
push constant 1312
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 1
add
push constant 1328
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 1
add
push constant 1344
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 1
add
push constant 1344
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 1
add
push constant 1360
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 1
add
push constant 1376
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 1
add
push constant 1440
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 1
add
push constant 1456
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 1
add
push constant 1472
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 1
add
push constant 1616
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 1
add
push constant 1616
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 1
add
push constant 1616
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 1
add
push constant 1616
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 1
add
push constant 1632
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 1
add
push constant 1696
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 1
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 1
add
push constant 1792
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 1
add
push constant 1808
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 1
add
push constant 1808
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 1
add
push constant 1904
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 1
add
push constant 1904
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 1
add
push constant 1904
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 1
add
push constant 1904
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 1
add
push constant 1920
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 1
add
push constant 1952
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 1
add
push constant 1968
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 1
add
push constant 1968
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 1
add
push constant 1968
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 1
add
push constant 1984
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 1
add
push constant 1984
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 1
add
push constant 1984
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 1
add
push constant 2000
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 1
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 2
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 1
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 1
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 1
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 1
add
push constant 2032
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 1
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 2
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 1
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 1
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 1
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 1
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 1
add
push constant 2400
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 1
add
push constant 2400
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 1
add
push constant 2400
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 1
add
push constant 2528
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 1
add
push constant 2576
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 1
add
push constant 2592
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 1
add
push constant 2608
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 1
add
push constant 2624
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 1
add
push constant 2640
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 1
add
push constant 2672
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 1
add
push constant 2704
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 1
add
push constant 2768
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 1
add
push constant 2768
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 1
add
push constant 2768
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 1
add
push constant 2784
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 1
add
push constant 2784
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 1
add
push constant 2784
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 1
add
push constant 2880
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 1
add
push constant 2896
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 1
add
push constant 2912
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 1
add
push constant 2912
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 1
add
push constant 2944
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 0
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 2
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 2
add
push constant 80
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 2
add
push constant 112
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 2
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 2
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 1
add
push constant 2976
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 2
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 2
add
push constant 80
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 2
add
push constant 96
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 2
add
push constant 112
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 2
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 2
add
push constant 144
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 2
add
push constant 160
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 2
add
push constant 176
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 2
add
push constant 192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 1
add
push constant 2992
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 2
add
push constant 208
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Block.getType 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Block.changeType 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Block.getPosX 0
push argument 0
pop pointer 0
push this 1
return
function Block.getPosY 0
push argument 0
pop pointer 0
push this 2
return
function Block.getGap 0
push argument 0
pop pointer 0
push this 3
return
function Block.getMonX 0
push argument 0
pop pointer 0
push this 4
return
function Block.getMonY 0
push argument 0
pop pointer 0
push this 5
return
function Block.getDirection 0
push argument 0
pop pointer 0
push this 7
return
function Block.getMonType 0
push argument 0
pop pointer 0
push this 6
return
