function Block.new 7
push constant 9
call Memory.alloc 1
pop pointer 0
push constant 174
pop local 0
push constant 6
pop local 3
push constant 28
pop local 4
push constant 250
pop local 5
push constant 156
pop local 1
push constant 230
pop local 2
push constant 0
pop local 6
push local 0
call Array.new 1
pop this 1
push local 0
call Array.new 1
pop this 2
push local 4
call Array.new 1
pop this 4
push local 4
call Array.new 1
pop this 5
push local 4
call Array.new 1
pop this 7
push local 4
call Array.new 1
pop this 6
push local 3
call Array.new 1
pop this 3
push local 0
call Array.new 1
pop this 0
push local 5
call Array.new 1
pop this 8
label WHILE_EXP0
push local 6
push local 5
lt
not
if-goto WHILE_END0
push local 6
push this 8
add
push local 6
push constant 16
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 3
add
push constant 90
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 92
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 104
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 136
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 138
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 148
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 4
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 4
add
push constant 22
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 5
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 4
add
push constant 31
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 4
add
push constant 36
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 4
add
push constant 37
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 4
add
push constant 45
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 5
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 4
add
push constant 46
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 5
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 4
add
push constant 52
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 4
add
push constant 57
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 4
add
push constant 58
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 4
add
push constant 63
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 4
add
push constant 64
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 4
add
push constant 65
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 4
add
push constant 82
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 4
add
push constant 83
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 4
add
push constant 84
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 4
add
push constant 110
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 4
add
push constant 112
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 5
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 4
add
push constant 113
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 5
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 4
add
push constant 115
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 4
add
push constant 123
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 5
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 4
add
push constant 124
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 5
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 4
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 5
add
push constant 8
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 6
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 4
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 5
add
push constant 8
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 6
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 4
add
push constant 146
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 4
add
push constant 155
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 4
add
push constant 157
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 5
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 6
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 4
add
push constant 159
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 5
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 7
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push constant 15
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 16
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 17
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 20
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 21
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 21
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 22
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 22
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 1
add
push constant 22
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 1
add
push constant 23
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 1
add
push constant 23
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 1
add
push constant 23
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 1
add
push constant 23
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 1
add
push constant 24
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 1
add
push constant 24
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 1
add
push constant 24
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 1
add
push constant 24
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 1
add
push constant 24
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 1
add
push constant 28
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 1
add
push constant 28
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 1
add
push constant 29
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 1
add
push constant 30
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 1
add
push constant 31
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 1
add
push constant 33
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 1
add
push constant 33
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 1
add
push constant 33
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 1
add
push constant 37
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 1
add
push constant 40
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 1
add
push constant 41
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 1
add
push constant 45
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 1
add
push constant 45
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 1
add
push constant 45
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 31
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 1
add
push constant 45
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 1
add
push constant 46
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 33
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 1
add
push constant 46
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 34
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 1
add
push constant 46
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 35
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 1
add
push constant 46
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 1
add
push constant 52
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 37
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 1
add
push constant 52
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 38
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 1
add
push constant 52
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 39
push this 0
add
push constant 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 1
add
push constant 53
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 1
add
push constant 53
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 1
add
push constant 54
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 42
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 41
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 1
add
push constant 54
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 43
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 1
add
push constant 55
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 1
add
push constant 55
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 45
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 1
add
push constant 56
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 46
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 1
add
push constant 56
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 47
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 1
add
push constant 67
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 1
add
push constant 69
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 49
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 1
add
push constant 70
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 50
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 1
add
push constant 71
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 51
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 1
add
push constant 73
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push this 0
add
push constant 33
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 1
add
push constant 73
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 53
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 1
add
push constant 73
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 54
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 1
add
push constant 73
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 55
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 1
add
push constant 74
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 1
add
push constant 74
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 57
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 1
add
push constant 74
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 58
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 1
add
push constant 74
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 59
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 1
add
push constant 78
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 1
add
push constant 79
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 61
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 1
add
push constant 80
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 62
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 1
add
push constant 80
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 63
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 1
add
push constant 81
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 1
add
push constant 81
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 65
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 1
add
push constant 82
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 66
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 1
add
push constant 83
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 67
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 1
add
push constant 84
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 1
add
push constant 84
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 69
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 1
add
push constant 85
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 70
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 1
add
push constant 86
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 71
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 1
add
push constant 90
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 1
add
push constant 95
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 73
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 1
add
push constant 95
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 74
push this 0
add
push constant 36
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 1
add
push constant 101
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 75
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 1
add
push constant 101
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 1
add
push constant 101
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 77
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 1
add
push constant 101
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 78
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 1
add
push constant 102
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 79
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 1
add
push constant 102
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 1
add
push constant 102
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 81
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 1
add
push constant 102
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 82
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 1
add
push constant 106
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 83
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 1
add
push constant 112
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 1
add
push constant 112
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 85
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 1
add
push constant 113
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 86
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 1
add
push constant 113
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 87
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 1
add
push constant 119
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 1
add
push constant 119
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 89
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 1
add
push constant 119
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 90
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 1
add
push constant 119
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 91
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 1
add
push constant 120
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 1
add
push constant 120
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 93
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 1
add
push constant 120
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 94
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 1
add
push constant 120
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 95
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 1
add
push constant 122
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 1
add
push constant 123
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 97
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 1
add
push constant 123
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 98
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 1
add
push constant 123
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 99
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 1
add
push constant 124
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 1
add
push constant 124
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 101
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 1
add
push constant 124
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 102
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 1
add
push constant 125
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 103
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 1
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 1
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 105
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 1
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 106
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 1
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 107
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 1
add
push constant 127
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 1
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 109
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 1
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 110
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 1
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 111
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 1
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 1
add
push constant 128
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 113
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 1
add
push constant 150
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 114
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 1
add
push constant 150
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 115
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 1
add
push constant 150
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 1
add
push constant 158
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 117
push this 0
add
push constant 40
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 1
add
push constant 161
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 118
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 1
add
push constant 162
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 119
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 1
add
push constant 163
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 1
add
push constant 164
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 121
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 1
add
push constant 165
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 122
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 1
add
push constant 169
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 123
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 1
add
push constant 173
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 124
push this 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 1
add
push constant 173
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 125
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 1
add
push constant 173
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 126
push this 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 1
add
push constant 174
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 127
push this 0
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 1
add
push constant 174
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 128
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 1
add
push constant 174
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 129
push this 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 1
add
push constant 176
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 130
push this 0
add
push constant 41
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 1
add
push constant 181
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 131
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 1
add
push constant 182
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 132
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 1
add
push constant 182
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 133
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 1
add
push constant 184
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 134
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 1
add
push constant 184
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 135
push this 0
add
push constant 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 2
add
push constant 4
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 136
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 2
add
push constant 5
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 137
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 138
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 2
add
push constant 7
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 139
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 2
add
push constant 8
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 140
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 141
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 142
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 143
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 144
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 1
add
push constant 186
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 145
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 2
add
push constant 4
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 146
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 2
add
push constant 5
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 147
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 2
add
push constant 6
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 148
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 2
add
push constant 7
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 149
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 2
add
push constant 8
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 150
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 151
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 152
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 153
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 154
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 1
add
push constant 187
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 155
push this 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 156
push this 1
add
push constant 191
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 156
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 156
push this 0
add
push constant 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 157
push this 1
add
push constant 191
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 157
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 157
push this 0
add
push constant 21
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 158
push this 1
add
push constant 191
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 158
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 158
push this 0
add
push constant 25
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push this 1
add
push constant 191
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 159
push this 0
add
push constant 29
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push this 1
add
push constant 192
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 160
push this 0
add
push constant 18
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 161
push this 1
add
push constant 192
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 161
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 161
push this 0
add
push constant 22
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 162
push this 1
add
push constant 192
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 162
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 162
push this 0
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 163
push this 1
add
push constant 192
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 163
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 163
push this 0
add
push constant 30
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 164
push this 1
add
push constant 193
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 164
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 164
push this 0
add
push constant 19
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 165
push this 1
add
push constant 193
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 165
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 165
push this 0
add
push constant 23
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 166
push this 1
add
push constant 193
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 166
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 166
push this 0
add
push constant 27
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 167
push this 1
add
push constant 193
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 167
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 167
push this 0
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 168
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 168
push this 2
add
push constant 8
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 168
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 169
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 169
push this 2
add
push constant 9
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 169
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 170
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 170
push this 2
add
push constant 10
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 170
push this 0
add
push constant 20
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 171
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 171
push this 2
add
push constant 11
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 171
push this 0
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 172
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 172
push this 2
add
push constant 12
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 172
push this 0
add
push constant 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 173
push this 1
add
push constant 194
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 173
push this 2
add
push constant 13
push this 8
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 173
push this 0
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Block.getType 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Block.changeType 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Block.getPosX 0
push argument 0
pop pointer 0
push this 1
return
function Block.getPosY 0
push argument 0
pop pointer 0
push this 2
return
function Block.getGap 0
push argument 0
pop pointer 0
push this 3
return
function Block.getMonX 0
push argument 0
pop pointer 0
push this 4
return
function Block.getMonY 0
push argument 0
pop pointer 0
push this 5
return
function Block.getDirection 0
push argument 0
pop pointer 0
push this 7
return
function Block.getMonType 0
push argument 0
pop pointer 0
push this 6
return
function Block.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
