function Draw.brick 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 129
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 2057
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2057
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2057
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2057
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 513
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 513
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.question 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8197
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2017
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3073
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1793
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8581
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.square 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.coin 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3640
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 6152
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 6604
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12612
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12614
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 24898
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24898
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24898
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 24898
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24898
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12614
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12740
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 6156
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.wall 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 30702
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28686
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24570
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16380
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.pipetopleft 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.pipetopright 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.pipeleft 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.piperight 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 8191
call Memory.poke 2
pop temp 0
push constant 0
return
function Draw.eraseblock 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
