function Mario.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 1
call Pos.new 2
pop this 0
push constant 0
pop this 1
push pointer 0
call Mario.draw 1
pop temp 0
push pointer 0
return
function Mario.getPosX 0
push argument 0
pop pointer 0
push this 0
call Pos.getX 1
return
function Mario.getPosY 0
push argument 0
pop pointer 0
push this 0
call Pos.getY 1
return
function Mario.draw 0
push argument 0
pop pointer 0
push pointer 0
call Mario.getPosX 1
push pointer 0
call Mario.getPosY 1
call Sprite.drawMario 2
pop temp 0
push constant 0
return
function Mario.erase 0
push argument 0
pop pointer 0
push pointer 0
call Mario.getPosX 1
push pointer 0
call Mario.getPosY 1
call Sprite.eraseMario 2
pop temp 0
push constant 0
return
function Mario.transition 0
push argument 0
pop pointer 0
push this 0
push this 0
call Pos.getX 1
push argument 1
add
call Pos.updateX 2
pop temp 0
push constant 0
return
function Mario.isJump 1
push argument 0
pop pointer 0
push constant 0
push this 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
goto IF_END0
label IF_FALSE0
push constant 0
pop local 0
label IF_END0
push local 0
return
function Mario.jumpLess 0
push argument 0
pop pointer 0
push this 1
push constant 1
sub
pop this 1
push constant 0
return
function Mario.jump 0
push argument 0
pop pointer 0
push constant 40
pop this 1
push constant 0
return
function Mario.stopJump 0
push argument 0
pop pointer 0
push constant 0
pop this 1
push constant 0
return
function Mario.moveUp 0
push argument 0
pop pointer 0
push constant 3
push this 0
call Pos.getY 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Mario.erase 1
pop temp 0
push this 0
push this 0
call Pos.getY 1
push constant 4
sub
call Pos.updateY 2
pop temp 0
push pointer 0
call Mario.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Mario.moveDown 0
push argument 0
pop pointer 0
push this 0
call Pos.getY 1
push constant 237
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Mario.erase 1
pop temp 0
push this 0
push this 0
call Pos.getY 1
push constant 4
add
call Pos.updateY 2
pop temp 0
push pointer 0
call Mario.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Mario.moveLeft 0
push argument 0
pop pointer 0
push constant 1
push this 0
call Pos.getX 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Mario.erase 1
pop temp 0
push this 0
push this 0
call Pos.getX 1
push constant 2
sub
call Pos.updateX 2
pop temp 0
push pointer 0
call Mario.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Mario.moveRight 0
push argument 0
pop pointer 0
push this 0
call Pos.getX 1
push constant 495
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Mario.erase 1
pop temp 0
push this 0
push this 0
call Pos.getX 1
push constant 2
add
call Pos.updateX 2
pop temp 0
push pointer 0
call Mario.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
