function SuperJackGame.new 0
push constant 20
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 6
push argument 1
pop this 19
push constant 0
pop static 4
call Screen.clearScreen 0
pop temp 0
push pointer 0
call SuperJackGame.menu 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
call MATH.init 0
pop temp 0
call Sprite.init 0
pop temp 0
push constant 0
pop this 8
push constant 0
push constant 208
call Jack.new 2
pop this 0
push argument 2
call Map.new 1
pop this 1
push argument 2
call Monster.new 1
pop this 2
push constant 0
pop this 5
push constant 0
pop static 5
push constant 1
pop static 3
push pointer 0
return
function SuperJackGame.menu 1
push argument 0
pop pointer 0
push constant 0
pop this 9
push constant 4109
pop local 0
push local 0
call Draw.character 1
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 19
call Output.printInt 1
pop temp 0
push constant 6
pop this 12
label WHILE_EXP0
push this 12
push constant 1
neg
gt
not
if-goto WHILE_END0
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 165
push constant 511
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 30000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push local 0
call Draw.character 1
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 19
call Output.printInt 1
pop temp 0
push this 12
push constant 1
sub
pop this 12
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SuperJackGame.run 6
push argument 0
pop pointer 0
push constant 0
pop this 7
push constant 0
pop this 9
push constant 0
pop static 0
push constant 0
pop static 1
push constant 999
pop static 2
push this 6
push constant 10
call Math.divide 2
pop this 10
push this 6
push constant 30
call Math.divide 2
pop this 11
push pointer 0
call SuperJackGame.status 1
pop temp 0
label WHILE_EXP0
push this 9
not
not
if-goto WHILE_END0
push this 2
call Monster.getMonLeft 1
pop local 0
call Keyboard.keyPressed 0
pop this 7
push this 7
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 9
label IF_FALSE0
push this 7
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 4
label IF_FALSE1
push this 7
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 4
label IF_FALSE2
push this 7
push constant 32
eq
push pointer 0
call SuperJackGame.JackOnGround 1
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Jack.jump 1
pop temp 0
label IF_FALSE3
push pointer 0
call SuperJackGame.move 1
pop temp 0
push pointer 0
call SuperJackGame.JackOnGround 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call SuperJackGame.restoreMul 1
pop temp 0
label IF_FALSE4
push static 5
push constant 0
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push static 5
push constant 1
sub
pop static 5
label IF_FALSE5
push static 5
push constant 0
lt
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
push constant 19
call Output.moveCursor 2
pop temp 0
push static 5
push constant 1000
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
call Output.printInt 1
pop temp 0
label IF_FALSE7
push static 5
push constant 100
call Math.divide 2
call Output.printInt 1
pop temp 0
label IF_FALSE6
push constant 239
push this 0
call Jack.getPosY 1
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 3
pop this 12
push this 0
call Jack.jump 1
pop temp 0
label WHILE_EXP1
push this 12
push constant 1
neg
gt
not
if-goto WHILE_END1
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.erase 1
pop temp 0
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.draw 1
pop temp 0
push this 12
push constant 1
sub
pop this 12
goto WHILE_EXP1
label WHILE_END1
push this 0
call Jack.erase 1
pop temp 0
push constant 0
not
pop this 9
label IF_FALSE8
push this 5
push constant 6000
lt
push this 0
call Jack.getPosX 1
push constant 383
gt
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push constant 32
call SuperJackGame.transition 2
pop temp 0
label IF_FALSE9
call Jack.checkBig 0
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 32
pop local 3
goto IF_END10
label IF_FALSE10
push constant 16
pop local 3
label IF_END10
push this 7
push constant 133
eq
push this 1
push this 0
call Jack.getPosX 1
push this 5
add
push this 0
call Jack.getPosY 1
push local 3
call Map.teleportloc 4
push constant 0
not
eq
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
pop this 12
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP2
push this 12
push constant 8
lt
not
if-goto WHILE_END2
push this 12
push constant 32
call Math.multiply 2
pop local 5
push constant 20000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push constant 0
push local 5
push constant 511
push local 5
push constant 31
add
call Screen.drawRectangle 4
pop temp 0
push this 12
push constant 1
add
pop this 12
goto WHILE_EXP2
label WHILE_END2
push constant 20000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call SuperJackGame.status 1
pop temp 0
push pointer 0
push constant 2732
push this 5
sub
call SuperJackGame.transition 2
pop temp 0
label IF_FALSE11
push constant 1000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 10
push constant 1
sub
pop this 10
push this 11
push constant 1
sub
pop this 11
push this 10
push constant 0
gt
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push static 2
push constant 1
sub
pop static 2
push this 6
pop this 10
push constant 0
push constant 53
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 2
call Output.printInt 1
pop temp 0
label IF_FALSE12
push pointer 0
call SuperJackGame.calc 1
pop temp 0
push this 11
push constant 0
gt
not
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
call SuperJackGame.Monmove 1
pop temp 0
push this 6
push constant 30
call Math.divide 2
pop this 11
label IF_FALSE13
push pointer 0
call SuperJackGame.calc 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push this 8
return
function SuperJackGame.calc 3
push argument 0
pop pointer 0
push this 2
call Monster.getMonLeft 1
pop local 0
label WHILE_EXP0
push local 0
push this 2
call Monster.getMonRight 1
lt
not
if-goto WHILE_END0
push this 2
push local 0
call Monster.getMontype 2
pop local 1
push this 0
call Jack.getPosX 1
push this 5
add
pop this 15
push this 0
call Jack.getPosY 1
pop this 17
push this 2
push local 0
call Monster.getMonX 2
pop this 16
push this 2
push local 0
call Monster.getMonY 2
pop this 18
call Jack.checkBig 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 32
pop local 2
goto IF_END0
label IF_FALSE0
push constant 16
pop local 2
label IF_END0
push local 1
push constant 1
eq
push local 1
push constant 2
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 16
neg
push this 15
push this 16
sub
lt
push this 15
push this 16
sub
push constant 16
lt
and
push local 2
push constant 1
add
neg
push this 17
push this 18
sub
lt
and
push this 17
push this 18
sub
push local 2
push constant 1
add
lt
and
push static 5
push constant 0
gt
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call SuperJackGame.JackDeath 1
pop temp 0
label IF_FALSE2
label IF_FALSE1
push local 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 16
neg
push this 15
push this 16
sub
lt
push this 15
push this 16
sub
push constant 16
lt
and
push local 2
push constant 1
add
neg
push this 17
push this 18
sub
lt
and
push this 17
push this 18
sub
push local 2
push constant 1
add
lt
and
push static 5
push constant 0
gt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 200
call SuperJackGame.addPoints 1
pop temp 0
push this 2
push local 0
push constant 5
call Monster.changetype 3
pop temp 0
push this 2
push local 0
push constant 1
add
push constant 5
call Monster.changetype 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 16
push this 5
sub
push this 18
push this 16
push constant 31
add
push this 5
sub
push this 18
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
label IF_FALSE3
push local 1
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 16
neg
push this 15
push this 16
sub
lt
push this 15
push this 16
sub
push constant 16
lt
and
push local 2
push constant 1
add
neg
push this 17
push this 18
sub
lt
and
push this 17
push this 18
sub
push local 2
push constant 1
add
lt
and
push static 5
push constant 0
gt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 200
call SuperJackGame.addPoints 1
pop temp 0
push this 2
push local 0
push constant 1
sub
push constant 5
call Monster.changetype 3
pop temp 0
push this 2
push local 0
push constant 5
call Monster.changetype 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 16
push constant 15
sub
push this 5
sub
push this 18
push this 16
push constant 15
add
push this 5
sub
push this 18
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
label IF_FALSE5
push local 1
push constant 0
eq
push local 1
push constant 3
eq
or
push local 1
push constant 4
eq
or
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 16
neg
push this 15
push this 16
sub
lt
push this 15
push this 16
sub
push constant 16
lt
and
push local 2
push constant 1
add
push constant 2
add
neg
push this 17
push this 18
sub
lt
and
push this 17
push this 18
sub
push constant 0
lt
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Jack.jump 1
pop temp 0
push this 2
push local 0
call Monster.kill 2
pop temp 0
goto IF_END8
label IF_FALSE8
push constant 17
neg
push this 15
push this 16
sub
lt
push this 15
push this 16
sub
push constant 17
lt
and
push local 2
push constant 1
add
neg
push this 17
push this 18
sub
lt
and
push this 17
push this 18
sub
push local 2
push constant 1
add
lt
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 15
push this 16
sub
push constant 16
eq
push this 15
push this 16
sub
push constant 16
neg
eq
or
push this 17
push this 18
sub
push local 2
eq
push this 17
push this 18
sub
push local 2
neg
eq
or
and
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push static 5
push constant 0
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 2
push local 0
call Monster.kill 2
pop temp 0
goto IF_END11
label IF_FALSE11
push pointer 0
call SuperJackGame.JackDeath 1
pop temp 0
label IF_END11
label IF_FALSE10
label IF_FALSE9
label IF_END8
label IF_FALSE7
push constant 239
push this 18
lt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 2
push local 0
call Monster.kill 2
pop temp 0
label IF_FALSE12
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SuperJackGame.restoreMul 0
push argument 0
pop pointer 0
push constant 1
pop static 3
push constant 0
return
function SuperJackGame.addMul 0
push static 3
push static 3
add
pop static 3
push constant 0
return
function SuperJackGame.addPoints 0
push static 1
push argument 0
push static 3
call Math.multiply 2
add
pop static 1
push constant 0
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 1
call Output.printInt 1
pop temp 0
push constant 0
return
function SuperJackGame.addMoney 0
push static 0
push argument 0
push static 3
call Math.multiply 2
add
pop static 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 0
call Output.printInt 1
pop temp 0
push constant 0
return
function SuperJackGame.JackDeath 0
push argument 0
pop pointer 0
call Jack.checkBig 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 12
label WHILE_EXP0
push this 12
push constant 1
neg
gt
not
if-goto WHILE_END0
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.erase 1
pop temp 0
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.draw 1
pop temp 0
push this 12
push constant 1
sub
pop this 12
goto WHILE_EXP0
label WHILE_END0
push this 0
call Jack.turnSmall 1
pop temp 0
push static 5
push constant 200
add
pop static 5
goto IF_END0
label IF_FALSE0
push constant 3
pop this 12
label WHILE_EXP1
push this 12
push constant 1
neg
gt
not
if-goto WHILE_END1
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.eraserectangle 1
pop temp 0
push constant 10000
push this 6
call Math.divide 2
call Sys.wait 1
pop temp 0
push this 0
call Jack.draw 1
pop temp 0
push this 12
push constant 1
sub
pop this 12
goto WHILE_EXP1
label WHILE_END1
push this 0
call Jack.jump 1
pop temp 0
push this 0
call Jack.eraserectangle 1
pop temp 0
push constant 0
not
pop this 9
label IF_END0
push constant 0
return
function SuperJackGame.JackOnGround 1
push argument 0
pop pointer 0
push constant 0
pop local 0
call Jack.checkBig 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 0
call Jack.getPosX 1
push this 5
add
push this 0
call Jack.getPosY 1
push constant 32
call Map.touchGround 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 0
label IF_FALSE1
push this 1
push this 0
call Jack.getPosX 1
push this 5
add
push this 0
call Jack.getPosY 1
push constant 32
call Map.touchBelow 4
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 0
label IF_FALSE2
goto IF_END0
label IF_FALSE0
push this 1
push this 0
call Jack.getPosX 1
push this 5
add
push this 0
call Jack.getPosY 1
push constant 16
call Map.touchGround 4
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 0
label IF_FALSE3
push this 1
push this 0
call Jack.getPosX 1
push this 5
add
push this 0
call Jack.getPosY 1
push constant 16
call Map.touchBelow 4
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 0
label IF_FALSE4
label IF_END0
push local 0
return
function SuperJackGame.move 4
push argument 0
pop pointer 0
push constant 2
pop local 3
push this 0
call Jack.getPosX 1
push this 5
add
pop local 0
push this 0
call Jack.getPosY 1
pop local 1
call Jack.checkBig 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 32
pop local 2
goto IF_END0
label IF_FALSE0
push constant 16
pop local 2
label IF_END0
push this 1
push local 0
push local 1
push local 2
call Map.touch 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Map.raiseflag 1
pop temp 0
push constant 0
not
pop this 8
push constant 0
not
pop this 9
label IF_FALSE1
push static 4
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop static 4
label WHILE_EXP0
push local 3
push constant 1
neg
gt
not
if-goto WHILE_END0
push this 0
call Jack.turnBig 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push this 0
call Jack.turnSmall 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push local 3
push constant 1
sub
pop local 3
goto WHILE_EXP0
label WHILE_END0
push this 0
call Jack.turnBig 1
pop temp 0
label IF_FALSE2
push this 7
push constant 130
eq
push this 1
push local 0
push local 1
push local 2
call Map.touchLeftSides 4
not
and
push this 1
push local 0
push local 1
push local 2
call Map.touchLeft 4
push constant 0
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Jack.moveLeft 1
pop temp 0
label IF_FALSE3
push this 7
push constant 132
eq
push this 1
push local 0
push local 1
push local 2
call Map.touchRightSides 4
not
and
push this 1
push local 0
push local 1
push local 2
call Map.touchRight 4
push constant 0
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
call Jack.moveRight 1
pop temp 0
label IF_FALSE4
push this 0
call Jack.isJump 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push local 0
push local 1
push constant 32
call Map.touchAbove 4
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
call Jack.stopJump 1
pop temp 0
label IF_FALSE6
label IF_FALSE5
push this 0
call Jack.isJump 1
not
push pointer 0
call SuperJackGame.JackOnGround 1
push constant 0
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
call Jack.moveDown 1
pop temp 0
label IF_FALSE7
push this 0
call Jack.isJump 1
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Jack.moveUp 1
pop temp 0
push this 0
call Jack.jumpLess 1
pop temp 0
label IF_FALSE8
push constant 0
return
function SuperJackGame.Monmove 2
push argument 0
pop pointer 0
push this 2
call Monster.getMonLeft 1
pop local 0
label WHILE_EXP0
push local 0
push this 2
call Monster.getMonRight 1
lt
not
if-goto WHILE_END0
push this 2
push local 0
call Monster.getMontype 2
pop local 1
push this 2
push local 0
call Monster.getMonX 2
pop this 16
push this 2
push local 0
call Monster.getMonY 2
pop this 18
push local 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 16
push this 18
push constant 16
call Map.touchLeft 4
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push local 0
call Monster.changeRight 2
pop temp 0
label IF_FALSE1
push this 1
push this 16
push this 18
push constant 16
call Map.touchRight 4
push constant 0
not
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push local 0
call Monster.changeLeft 2
pop temp 0
label IF_FALSE2
push local 0
push this 2
call Monster.getMonLeft 1
gt
push this 16
push this 2
push local 0
push constant 1
sub
call Monster.getMonX 2
sub
push constant 17
lt
and
push this 18
push this 2
push local 0
push constant 1
sub
call Monster.getMonY 2
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push local 0
push constant 1
sub
call Monster.changeLeft 2
pop temp 0
push this 2
push local 0
call Monster.changeRight 2
pop temp 0
label IF_FALSE3
push this 16
push this 5
sub
push constant 490
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push local 0
call Monster.changeLeft 2
pop temp 0
label IF_FALSE4
push this 1
push this 16
push this 18
push constant 16
call Map.touchBelow 4
push constant 0
eq
push this 1
push this 16
push this 18
push constant 16
call Map.touchGround 4
push constant 0
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push local 0
call Monster.movedown 2
pop temp 0
goto IF_END5
label IF_FALSE5
push this 2
push local 0
call Monster.eraseidxMonster 2
pop temp 0
push this 2
push local 0
call Monster.update 2
pop temp 0
push this 2
push local 0
call Monster.drawidxMonster 2
pop temp 0
label IF_END5
label IF_FALSE0
push local 1
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
push local 0
call Monster.getMonY 2
push constant 160
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 2
push local 0
call Monster.changedown 2
pop temp 0
push this 2
push local 0
call Monster.movedown 2
pop temp 0
goto IF_END7
label IF_FALSE7
push this 2
push local 0
call Monster.moveup 2
pop temp 0
label IF_END7
label IF_FALSE6
push local 1
push constant 4
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 1
push this 2
push local 0
call Monster.getMonX 2
push this 2
push local 0
call Monster.getMonY 2
push constant 16
add
push constant 16
call Map.touchAbove 4
push constant 0
not
eq
push this 2
push local 0
call Monster.getMonY 2
push constant 204
gt
or
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 2
push local 0
call Monster.changeup 2
pop temp 0
push this 2
push local 0
call Monster.moveup 2
pop temp 0
goto IF_END9
label IF_FALSE9
push this 2
push local 0
call Monster.movedown 2
pop temp 0
label IF_END9
label IF_FALSE8
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SuperJackGame.transition 0
push argument 0
pop pointer 0
push argument 1
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Jack.erase 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
call Jack.eraserectangle 1
pop temp 0
label IF_END0
push this 2
call Monster.eraseMonster 1
pop temp 0
push this 1
call Map.erase 1
pop temp 0
push this 1
call Map.eraseGround 1
pop temp 0
push this 5
push argument 1
add
pop this 5
push argument 1
push constant 32
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push argument 1
neg
call Jack.transition 2
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
push argument 1
call Jack.transition 2
pop temp 0
label IF_END1
push this 2
push argument 1
call Monster.transition 2
pop temp 0
push this 1
push argument 1
call Map.transition 2
pop temp 0
push this 0
call Jack.draw 1
pop temp 0
push this 2
call Monster.drawMonster 1
pop temp 0
push this 1
call Map.draw 1
pop temp 0
push this 1
call Map.drawGround 1
pop temp 0
push constant 0
return
function SuperJackGame.tbig 0
push constant 0
not
pop static 4
push constant 0
return
function SuperJackGame.Ulti 0
push static 5
push constant 1000
add
pop static 5
push constant 0
return
function SuperJackGame.getwin 0
push argument 0
pop pointer 0
push this 8
return
function SuperJackGame.status 2
push argument 0
pop pointer 0
push this 19
pop local 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 0
call Output.printInt 1
pop temp 0
push constant 0
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 1
call Output.printInt 1
pop temp 0
push constant 0
push constant 53
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push static 2
call Output.printInt 1
pop temp 0
push constant 0
push constant 13
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 85
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 38
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push constant 21
push local 0
add
pop local 1
push this 3
push local 1
call Draw.life 2
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SuperJackGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Jack.dispose 1
pop temp 0
push this 2
call Monster.dispose 1
pop temp 0
push this 1
call Map.dispose 1
pop temp 0
push this 3
call Draw.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
